# App name
APP_NAME=Football Evolution Hub
#backend ip address and port number
# BACKEND_IP=0.0.0.0
BACKEND_IP=0.0.0.0
PORT=5000
# Database url over here
DATABASE_URL= mongodb://localhost:27017/football_development
# JWT section
JWT_SECRET=adsd
JWT_EXPIRE_TIME=30d
JWT_REFRESH_SECRET=adsd

# Email credentials
SMTP_HOST=your_smtp_host
SMTP_PORT=your_smtp_port
SMTP_MAIL=your_email
SMTP_PASSWORD=your_smtp_password

# File upload settings
FILE_UPLOADER=LOCAL
IMAGE_FILE_SIZE_LIMIT=5

# AWS S3 settings
AWS_BUCKET_REGION=your_bucket_region
AWS_YOUR_ACCESS_KEY=your_access_key
AWS_YOUR_SECRET_KEY=your_secret_key

# String seciton
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
# Redis Connection
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
REDIS_PASSWORD=your_redis_password
REDIS_DB=your_redis_db